@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* GoogleFont Raleway*/

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

body {
  margin: 0;
}

a {
  /* color: #0065fc;*/
  color: inherit;
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  padding: 2rem;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: #0065fc;
}

#logo {
  margin-right: auto;
  padding: 0 2rem;
}

.register {
  font-weight: bold;
  color: #0065fc;
}

.sub-nav {
  display: flex;
}

/****Changement de couleur quand on passe la souris dessus****/
.sub-nav a:hover {
  color: #0065fc;
}

@media (max-width: 800px) {
  .sub-nav {
    order: 1;
    flex-basis: 100%;
  }

  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }
  .sub-nav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
    color: #0065fc;
  }
}

/* BODY */

.wrapper {
  padding: 0 2rem;
}

.wrapper h1,
.wrapper p {
  margin-bottom: 1rem;
}

/* SEARCH FORM*/
.search-form {
  display: flex;
  align-items: center;
}

.search-form * {
  padding: 1rem 1.5rem;
}
.search-form i {
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
}

.search-form input {
  padding-right: 16rem;
  border: 1px solid #f2f2f2;
}

.search-form input::placeholder {
  font-weight: bold;
  font-size: 1.2rem;
}
.search-form button {
  background-color: #0065fc;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
}
